
@*
    Admin Head
*@
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tur Acentesi Yönetim Paneli</title>
    <link rel="shortcut icon" type="image/png" href="/Spike-Bootstrap-1.0.0/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/Spike-Bootstrap-1.0.0/src/assets/css/styles.min.css" />
</head>