@using JadooTravel.Dtos.TestimonialDtos
@model CreateTestimonialDto
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminUI/Index.cshtml";
}

<div class="container">
    <br />
    <form method="post">
        <div class="form-group">
            <label>Profil Resmi</label>
            <input type="text" asp-for="ImageUrl" class="form-control" />
        </div>
        <div class="form-group">
            <label>Kullanıcı Yorumu</label>
            <input type="text" asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label>Ad Soyad</label>
            <input type="text" asp-for="FullName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Şehir, Ülke</label>
            <input type="text" asp-for="CityCountry" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Ekle</button>
    </form>
</div>

