@using JadooTravel.Dtos.CategoryDtos
@model UpdateCategoryDto
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label>Kategori Adı</label>
            <input type="text" asp-for="CategoryName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Güncelle</button>
    </form>
</div>
